<h1><%= @book.title %></h1>

<p><%= @book.body %></p>

<p><%= @book.score %></p>
<p><%= @book.image %></p>

  <%= link_to 'Edit', edit_book_path(@book), class:"btn btn-secondary"%>
<%= link_to 'Back', books_path, class:"btn btn-dark"%>